<template>
  <div class="col-md-8 col-md-offset-2">
    <div class="tasks" v-if="tasks">

      <div class="row">
        <div class="col-sm-12">
          <h2 class="pull-left task-title">Tasks</h2>
          <button class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#taskCreate">New Task</button>
        </div>
      </div>

      <hr>

      <grid id="taskTable" :cols="cols" :rows="rows" :pagination=true></grid>

      <div class="row">
        <div class="col-sm-12">
          <h2 class="pull-left task-title">View PDF</h2>
          <button class="btn btn-default btn-sm pull-right" data-toggle="modal" @click="downloadPdf" target="_blank" data-target="#viewPdf">View PDF</button>
        </div>
      </div>

      <div class="row">
        <vc-date-picker class="inline-block h-full" v-model="dateFrom">
          <template v-slot="{ inputValue, togglePopover }">
            <div class="flex items-center">
              <input readonly @click="togglePopover({ placement: 'auto-start' })" v-model="dateFrom" type="vc-date-picker" class="form-control" id="task-added-time" placeholder="Date from">
            </div>
          </template>
        </vc-date-picker>
        <vc-date-picker class="inline-block h-full" v-model="dateTo">
          <template v-slot="{ inputValue, togglePopover }">
            <div class="flex items-center">
              <input readonly @click="togglePopover({ placement: 'auto-start' })" v-model="dateTo" type="vc-date-picker" class="form-control" id="task-added-time" placeholder="Date to">
            </div>
          </template>
        </vc-date-picker>
      </div>

      <!-- Create Task Modal -->
      <div class="modal fade" id="taskCreate" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4 class="modal-title">New Task</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input v-model="newTaskName" type="text" class="form-control" id="task-name" placeholder="Task Name">
              </div>
              <div class="form-group">
                <input v-model="newTaskComment" type="text" class="form-control" id="task-comment" placeholder="Task Comment">
              </div>
              <div class="form-group">
                <vc-date-picker class="inline-block h-full" v-model="newAddedDate">
                  <template v-slot="{ inputValue, togglePopover }">
                    <div class="flex items-center">
                      <input readonly @click="togglePopover({ placement: 'auto-start' })" v-model="newAddedDate" type="vc-date-picker" class="form-control" id="task-added-time" placeholder="Task Added Date">
                    </div>
                  </template>
                </vc-date-picker>
              </div>
              <div class="form-group">
                <input v-model="newTimeSpent" type="text" class="form-control" id="task-time-spent" placeholder="Task time spent">
              </div>
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" v-bind:disabled="newTaskName == ''" @click="createNewTask" type="submit" class="btn btn-default btn-success">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="timers" v-else>
      Loading...
    </div>
  </div>
</template>


<script>
import Grid from 'gridjs-vue'
import {jsPDF} from "jspdf";
import 'jspdf-autotable';
export default {
  components: {
    Grid,
    jsPDF
  },
  data: function() {
    return {
      tasks: null,
      pdfTasks: null,
      newTaskName: '',
      newTaskComment: '',
      newAddedDate: new Date(),
      dateFrom: new Date(),
      dateTo: new Date(),
      newTimeSpent: 0,
      cols: [],
      rows: [],
      url: 'http://time1/my_project_name/public',
    }
  },
  created() {
    /**
     * TODO: BaseUrl Should be configed somewhere
     */
    axios.defaults.baseURL = this.url;
    axios.get('/tasks').then(res => {
      this.tasks = res.data;
      this.cols = [
        {
          name: 'Title',
          id: 'title'
        },
        {
          name: 'Comment',
          id: 'comment'
        },
        {
          name: 'Date Added',
          id: 'addedDate'
        },
        {
          name: 'Time spent',
          id: 'timeSpent'
        },
      ];
      this.rows = this.tasks;
    })
  },
  methods: {
    /**
     * Create a new task.
     */
    createNewTask() {
      axios.post('/tasks/create', {
        name: this.newTaskName,
        comment: this.newTaskComment,
        added_date: this.newAddedDate,
        time_spent: this.newTimeSpent,
      })
          .then(res => {
            this.tasks.push(res.data)
          })
    },
    /**
     * Download Pdf.
     */
    downloadPdf() {
      const doc = new jsPDF();
      let body = null;
      let cols = [
        {header: "Title", dataKey: "title"},
        {header: "Comment", dataKey: "comment"},
        {header: "Date Added", dataKey: "addedDate"},
        {header: "Time Spent", dataKey: "timeSpent"},
      ];
      let totalTimeSpent = 0;
      axios.get('/downloadPdf', {
        params: {
          dateFrom: this.dateFrom,
          dateTo: this.dateTo
        }
      }).then(res => {
        if (res.data.length !== 0) {
          body = res.data;
          body.forEach(element=> {
            let temp = element.timeSpent;
            totalTimeSpent += temp;
          });
          doc.autoTable({
            body: body,
            columns: cols
          });
          doc.text("Total time: " + totalTimeSpent, 150, doc.lastAutoTable.finalY + 10)
        }
        doc.save("a4.pdf");
      });
    }
  },
}
</script>