<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Time Tracker Application{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body>

<div id="app">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('default') }}"> Time Tracker Application </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><a href="{{ path('home') }}">Task</a></li>
                    <li><a href="{{ path('logout') }}">Logout</a></li>

                {% else %}

                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('user_registration') }}">Register</a></li>

                {% endif %}
            </ul>
        </div>
    </nav>


    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script type="module" src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>